@charset "UTF-8";

main {
	width: 1000px;
	margin:5px auto;
	display: flex;
	flex-wrap: wrap;
	flex:1;
}

.book-from{
	border-top:2px solid  #4CAF50;
	border-bottom: 2px solid #4CAF50;
	padding: 30px 20px;
	background-color: #fff;
}

.book-from h2{
	font-size: 30px;
	color: #333;
	margin-bottom:20px;
}

.form-group {
	margin-bottom: 20px;	
}
.form-group label {
	display:block;
	font-size: 20px;
	color: #666;
	margin-bottom: 5px;
}

.from-group input {
	width: 100%;
	padding:10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size:16px;
}

.book-from .save-btn{
	display: inline-block;
	padding: 8px 20px;
	border: 1px solid #4CAF50;;
	background-color: #fff;
	color: #4CAF50;;
	text-decoration: none;
	cursor: pointer;
}

.book-form .save-btn:hover{
	background-color: #4CAF50;;
	color: #fff;	
}